In [2]:
import numpy as np 
import seaborn  as sns
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline

In [12]:
df = pd.read_csv('test.csv')
df.head()

                                                text  label
0  im feeling rather rotten so im not very ambiti...      0
1          im updating my blog because i feel shitty      0
2  i never make her separate from me because i do...      0
3  i left with my bouquet of red and yellow tulip...      1
4    i was feeling a little vain when i did this one      0

In [6]:
df.shape

(2000, 2)

In [14]:
df_train = pd.read_csv('training.csv')
df_train.head()

                                                text  label
0                            i didnt feel humiliated      0
1  i can go from feeling so hopeless to so damned...      0
2   im grabbing a minute to post i feel greedy wrong      3
3  i am ever feeling nostalgic about the fireplac...      2
4                               i am feeling grouchy      3

In [8]:
df.shape

(16000, 2)

In [45]:
final_df = pd.concat([df, df_train,df_valid], axis=0).reset_index(drop=True)

In [35]:
final_df.head()

                                                text  label
0  im feeling rather rotten so im not very ambiti...      0
1          im updating my blog because i feel shitty      0
2  i never make her separate from me because i do...      0
3  i left with my bouquet of red and yellow tulip...      1
4    i was feeling a little vain when i did this one      0

In [36]:
final_df.shape

(20000, 2)

In [30]:
df_valid = pd.read_csv('validation.csv')
df_valid.head()

                                                text  label
0  im feeling quite sad and sorry for myself but ...      0
1  i feel like i am still looking at a blank canv...      0
2                     i feel like a faithful servant      2
3                  i am just feeling cranky and blue      3
4  i can have for a treat or if i am feeling festive      1

In [26]:
df_valid.shape

(2000, 2)

In [37]:
final_df['text'].unique()

array(['im feeling rather rotten so im not very ambitious right now',
       'im updating my blog because i feel shitty',
       'i never make her separate from me because i don t ever want her to feel like i m ashamed with her',
       ...,
       'i feel its important to share this info for those that experience the same thing',
       'i truly feel that if you are passionate enough about something and stay true to yourself you will succeed',
       'i feel like i just wanna buy any cute make up i see online or even the one'],
      shape=(19948,), dtype=object)

In [32]:
df_valid['text'].unique()

array(['im feeling quite sad and sorry for myself but ill snap out of it soon',
       'i feel like i am still looking at a blank canvas blank pieces of paper',
       'i feel like a faithful servant', ...,
       'i feel its important to share this info for those that experience the same thing',
       'i truly feel that if you are passionate enough about something and stay true to yourself you will succeed',
       'i feel like i just wanna buy any cute make up i see online or even the one'],
      shape=(1998,), dtype=object)

In [47]:
final_df = final_df.drop_duplicates(subset=['text']).reset_index(drop=True)

In [48]:
final_df.shape

(19948, 2)

In [49]:
final_df['text'].unique()

array(['im feeling rather rotten so im not very ambitious right now',
       'im updating my blog because i feel shitty',
       'i never make her separate from me because i don t ever want her to feel like i m ashamed with her',
       ...,
       'i feel its important to share this info for those that experience the same thing',
       'i truly feel that if you are passionate enough about something and stay true to yourself you will succeed',
       'i feel like i just wanna buy any cute make up i see online or even the one'],
      shape=(19948,), dtype=object)